@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap");

html {
  font-family: "Nunito", sans-serif;
  background-color: #363636;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}
